.home-container {
    min-height: 100vh;
    width: 100%;
    background-color: #cecbc5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  button {
    width: 260px;
    padding: 16px;
    font-size: 18px;
    border-radius: 14px;
    border: none;
    background-color: #a28ecd;
  }
  