@import '../login/login.css';

.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cecbc5;
  }
  
  .auth-card {
    background: white;
    padding: 2.5rem;
    width: 360px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .auth-card h2 {
    margin-bottom: 1.5rem;
    color: #4b5563;
  }
  
  .auth-card form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .auth-card input {
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .btn {
    padding: 0.7rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  
  .btn.primary {
    background: #8b5cf6;
    color: white;
  }
  
  .btn.outline {
    margin-top: 1rem;
    background: transparent;
    border: 1px solid #8b5cf6;
    color: #8b5cf6;
  }
  